<html>
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/foundation/6.2.1/foundation.min.css">
    <script src="https://cdn.jsdelivr.net/foundation/6.2.1/foundation.min.js"></script>
</head>
<body>
    <div class='row'>
        <div class='columns'>
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li><b>{{ message }}<b></li>
                {% endfor %}
            </ul>
            {% endif %}
            <h2>Subscribe!</h2>
            <form action="" method="post">{% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Subscribe"/>
            </form>
        </div>
    </div>
</body>
</html>
